.HowTo {
  background-color: #3d3d3d;
  color: white;
  padding: 20px;
  padding-top: 10px;
}

.BeforeSubmitContainer {
  display: flex;
  height: 100%;
}

.LeftContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #aabbc6;
  min-width: 30%;
}

.LeftContentSegments {
  margin: 20px;
}

.LeftContentSegments label {
  margin-left: 0px;
}

.LeftContentSegments Input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  margin: 2px 4px 0px 0px;
  border-radius: 50%;
  border: 2px solid #333;
  outline: none;
  cursor: pointer;
  background-color: #aabbc6;
}

.LeftContentSegments input[type="radio"]:checked {
  background-color: #333;
}

.LeftContent,
label {
  display: flex;
  flex-direction: column;
}

.LeftContent form {
  width: 100%;
}

.LeftContent button {
  margin: 10px 0px 0px 5px;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #333333;
  cursor: pointer;
}

textarea {
  min-width: 100%; /* Manually set the width to 300 pixels */
  height: 150px; /* Fixed height */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in the width */
  border: 1px solid #ccc;
  border-radius: 5px;
  /* resize: vertical; Allow vertical resizing */
}

#star {
  color: red;
  margin-right: 2px;
}

.starText {
  display: flex;
  margin-left: 0px;
}

.starTextSmall {
  display: flex;
  margin-left: 0px;
  font-size: medium;
  font-weight: 700;
}

.starText p {
  margin-bottom: 10px;
  font-size: larger;
}
.RightContent {
  display: flex;
  flex-direction: column;
  min-width: 70%;

  background-color: #f6f6f6;
  height: 100%;
}
.RightContent h1,
h2,
h3,
label {
  margin: 5px;
}

.RightContentTop h2 {
  font-size: larger;
  font-weight: 700;
  margin-left: 0px;
}

.RightContentTop p {
  margin-top: 3px;
}

.InputContainer {
  display: flex;
  flex-direction: row;
}
.RightContentSegments Input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  margin: 4px 4px 0px 0px;
  border-radius: 50%;
  border: 2px solid #333;
  outline: none;
  cursor: pointer;
  background-color: #f6f6f6;
}

.RightContentSegments input[type="radio"]:checked {
  background-color: #24a0ed;
}

.RightContentTop {
  background-color: #e4ecf1;
}

.RightContentBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f6f6f6;
}

.RightContentSegments {
  margin: 20px;
}

.Checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}
input[type="checkbox"] {
  display: none;
}
/* When the checkbox is checked, add a blue background */
.Checkcontainer input:checked ~ .checkmark {
  background-color: #2196f3;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;

  display: none;
}

/* Show the checkmark when checked */
.Checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Checkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;

  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.RightContentSegments h3 {
  margin-top: 15px;
  font-size: 1.45rem;
}
